
#content {
    max-width: 1600px; 
    margin: 0 auto;
    background-color: #70a0af;
}

#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main {
    text-align: center;
}
section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #cbf3f0;
}
body {
    background-color: white; 
}
header {
    background-color: #001233;
    color: yellow;
    max-width: 1600px;
}
nav a:hover {
    background-color:#AAA9A7;
    color:#001233;
}
.book {
    background-color: blueviolet;
    color: black;
    text-decoration: none;
}
.join {
    background-color: blueviolet;
    color: black;
    text-decoration: none;
}
.book:hover {
    background-color: #70a0af;
    color: black;
}
.join:hover {
    background-color: black;
    color:#2E54A2;
}
.home-title {
    color:#2E54A2;
}
nav a {
    text-align: center;
    color: yellow;
    text-decoration: none;
}

h4 {
    color: black;
}
.msg {
    color: black;
    background-color: #70a0af;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
    max-width: 1600px;
}
footer {
    color: yellow;
    background-color: #001233;
}
footer a {
    color:yellow;
    text-decoration: none;
    
    
}
footer a:hover {
    color: black;

    
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
