@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,900;1,900&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px; 
    margin: 0 auto;
    background-color: #70a0af;
}

#hero-msg {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#hero-msg h1 {
    text-align: center;

}
h1 {
    text-align: center;
    font-size: 1.5em;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}

main {
    text-align: center;
}
section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #cbf3f0;
}
body {
    background-color: white; 
    font-family: 'Itim', 'Roboto', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #001233;
    color: yellow;
    max-width: 1600px;
    font-family: 'Itim', 'Roboto', sans-serif;
    font-size: 2em;
}
nav a:hover {
    background-color:white;
    color:yellow;
}
.book {
    background-color: blueviolet;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: blueviolet;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: black;
    color: yellow;
}
.join:hover {
    background-color: black;
    color:yellow;
}
.home-title {
    font-family: 'Itim', 'Roboto', sans-serif;
    font-size: 2em;
    color:#2E54A2;
    margin-top: 10px;
}
.rivers-card {
    margin: 200px 0;
    
}
.camping-card {
    margin: 200px 0;
    border-bottom: 1px solid turquoise;
    
    
}
.rapids-card {
    margin: 200px 0;
    
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
nav a {
    display: inline;
    color: yellow;
    text-decoration: none;
    text-align: center;
    padding: 35px;
    
}

h4 {
    color: black;
    font-size: 1.2em;
}

.msg {
    display: block;
    color: #001233;
    background-color: #cbf3f0;
    padding: 45px;
    line-height: 1.5em;
    
}
.msg h2 {
    color: #001233;
    font-family: 'Itim', 'Roboto', sans-serif;
    font-size: 1.5em;
}
.msg p {
    color: #001233;
    font-size: .8em;
    padding-bottom: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
    
}
.logo {
    width: 100px;
    padding-bottom: 20px;
    border: 4px solid black;
}
#logo_link  {
    padding-top: 5px;
}
#hero_img {
    width: 100%;
    max-width: 1600px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.social img{
    padding-top: 15px;
}
/*img {
    padding-top: 15px;

}*/
.mountains {
    height: 533;
    width: 800;
    display: block;
    
}
footer {
    color: yellow;
    background-color: #001233;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
}
footer a {
    color:yellow;
    text-decoration: none;
    
    
}
footer a:hover {
    color:lightskyblue;

    
}
footer p {
    font-size: 1.3em;
}
footer p a:hover {
    text-decoration: underline;
}
