@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Roboto:ital,wght@0,100;0,900;1,900&family=Rock+Salt&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #14213D  ;
    --secondary-color: #FFB703 ;
    --accent1-color: #390099;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Rock Salt";
    --paragraph-font: Roboto, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #14213D;  /* headlines on a white background */ 
    --headline-color-on-color: #FFB703; /* headlines on a colored background */ 
    --paragraph-color-on-white: #390099; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #14213D  ;
    --nav-link-color: #FFB703;
    --nav-background-color: #FFB703;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #390099; 
}
body {
  background-color: white;
  font-family: 'Roboto', 'Kanit', sans-serif;
  font-size: 20px;
  
}
#content {
  max-width: 1600px; 
  margin: 0 auto;
  background-color: #FFB703;
}
header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 12.5%;
  background-color: #14213D;
  color: white;
  font-family: 'Kanit', 'Roboto', sans-serif;
  font-size: 20px;
  height: 150px;
}

#dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dropdown-logo {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown:hover #dropdown-logo {
  display: block;
}
h4 {
  font-family: 'Roboto';
  margin-top: 30px;
  margin-bottom: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  font-size: 25px;
}
#logo-link h1 {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
#content h1 {
  font-family: 'Rock Salt';
  margin-top: 70px;
  text-align: center;
}
#body-msg h2 {
  font-family: 'Kinit';
  text-align: center;
}
nav a:hover {
  background-color:#FFB703;
  color:#14213D;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  grid-column: 2/3;
  grid-row: 5/6;
}
nav a {
  display: inline;
  text-decoration: none;
  font-size: 22px;
  color: wheat;
  
}
/*#body-top img {
  margin: 50px;
  border-style:ridge;
  text-align: center;
}*/
#img {
  display: grid;
  grid-template-columns: 6% 41% 6% 41% 6%;
  margin-top: 80px;
  margin-bottom: 80px;
}
#body-img1 {
  grid-column: 2/3;
  border: 10px solid wheat;
  width: 100%;
  margin: 0 auto;
  
}
#body-img2 {
  grid-column: 4/5;
  border: 10px solid wheat;
  width: 100%;
  margin: 0 auto;
  
}
#body-img1:hover, #body-img2:hover {
  transform: scale(1.2);

}
/*#body-msg {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 150px;
  margin-bottom: 150px;
}*/

#recommend-msg p {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: wheat;
  padding: 20px;
  
}
section h3 {
  padding-left: 5%;
  color:#390099;
}
section p {
  font-size: 18px;
  margin-left: 80px;
  margin-right: 80px;

}

#ingredient{
  position: relative;
  display: inline-block;
  margin-left: 80px;
}
#dropdown-ingredient {
  display: none;
  position: absolute;
  background-color: wheat;
  width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 18px;
}
#ingredient:hover #dropdown-ingredient {
  display: block;
}
#instruction {
  position: relative;
  display: inline-block;
  margin-left: 80px;
}
#dropdown-instruction {
  display: none;
  position: absolute;
  background-color: wheat;
  width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 18px;
}
#instruction:hover #dropdown-instruction {
  display: block;
}
#equipment {
  position:relative;
  display: inline-block;
  margin-left: 80px;
}
#dropdown-equipment {
  display: none;
  position: absolute;
  background-color: wheat;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 18px;

}
#equipment:hover #dropdown-equipment {
  display: block;
}

section h5 {
  text-align: center;
}
/* menu */
.menu-msg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-left: 100px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu-msg img {
  border-radius: 20px;
  width: 400px;
  height: 400px;
}
.menu-top h1 {
  text-align: center;
  color: #14213D;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: 'Rock Salt';
}
.menu-msg h2 {
  text-align: center;
  margin-top: 50px;
}
.menu-msg h1 {
  text-decoration: underline;
  text-align: center;
  color: wheat;
}
.fried-noodle {
  grid-column: 1/2;
  grid-row: 1/2;
}
.fried-rice {
  grid-column: 1/2;
  grid-row: 2/3;
}
.crispy-rice {
  grid-column: 1/2;
  grid-row: 3/4;
}
.salad {
  grid-column: 1/2;
  grid-row: 4/5;
}
.khmer-noodle {
  grid-column: 3/4;
  grid-row: 1/2;
}
.amok-fish {
  grid-column: 3/4;
  grid-row: 2/3;
}
.sugar-cane {
  grid-column: 3/4;
  grid-row: 3/4;
}
.passion-juice {
  grid-column: 3/4;
  grid-row: 4/5;
}
.food {
  border: 10px solid wheat;
  margin-top: 50px;
  margin-bottom: 50px;
}
.food:hover {
  transform: scale(1.1);
}

#one {
  grid-column: 2/3;
  grid-row: 1/2;
  color: #14213D;
  border-radius: 5%;
}
#two {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #14213D;
}
#three {
  grid-column: 2/3;
  grid-row: 3/4;
  color: #14213D;
}
#four {
  grid-column: 2/3;
  grid-row: 4/5;
  color: #14213D;
}
#five {
  grid-column: 4/5;
  grid-row: 1/2;
  color: #14213D;
}
#six {
  grid-column: 4/5;
  grid-row: 2/3;
  color: #14213D;
}
#seven {
  grid-column: 4/5;
  grid-row: 3/4;
  color: #14213D;
}
#eight {
  grid-column: 4/5;
  grid-row: 4/5;
  color: #14213D;
}
.caption-container {
  text-align: center;
  background-color: wheat;
  padding: 2px 16px;
  color: white;
}
.column {
  float: left;
  width: 16.66%;
}
.demo:hover {
  transform: scale(1.8);
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.calendar {
  margin-top: 300px;
 

}

.month {
  padding: 10px 25px;
  background:#14213D;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;

}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
.active:hover {
  background-color: #FFB703;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color:wheat;
  color:#14213D;
  transform: rotateY(180deg);
}
footer {
  color:#FFB703;
  background-color:#14213D;
  padding: 25px 50px;
  padding-top: 15px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.footer-box2 {
  color: white;
  font-size: 22px;
  font-family: sans-serif;
}
footer a {
  color:yellow;
  text-decoration: none; 
}
footer a:hover {
  color:lightskyblue;
}
footer p {
  font-size: 1.3em;
}
footer p a:hover {
  text-decoration: underline;
}