@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Roboto:ital,wght@0,100;0,900;1,900&family=Rock+Salt&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #14213D  ;
    --secondary-color: #FFB703 ;
    --accent1-color: #390099;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Rock Salt";
    --paragraph-font: Roboto, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #14213D;  /* headlines on a white background */ 
    --headline-color-on-color: #FFB703; /* headlines on a colored background */ 
    --paragraph-color-on-white: #390099; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #14213D  ;
    --nav-link-color: #FFB703;
    --nav-background-color: #FFB703;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #390099; 
}
body {
  background-color: white;
  font-family: 'Roboto', 'Hevetica', sans-serif;
  font-size: 20px;
  
}
#content {
  max-width: 1600px; 
  margin: 0 auto;
  background-color: #FFB703;
}
header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 12.5%;
  background-color: #14213D;
  color: #FFB703;
  font-family: 'Hevetica', 'Roboto', sans-serif;
  font-size: 20px;
  height: 150px;
}

#dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dropdown-logo {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown:hover #dropdown-logo {
  display: block;
}
h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  font-size: 25px;
}
#logo-link h1 {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
#body-top h1 {
  text-align: center;
}
#body-msg h2 {
  text-align: center;
}
nav a:hover {
  background-color: white;
  color:#14213D;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  grid-column: 2/3;
  grid-row: 5/6;
}
nav a {
  display: inline;
  text-decoration: none;
  font-size: 22px;
  color: #FFB703;
  
}
/*#body-top img {
  margin: 50px;
  border-style:ridge;
  text-align: center;
}*/
#img {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  margin-top: 80px;
  margin-bottom: 80px;
}
#body-img1 {
  grid-column: 2/3;
  border-style:ridge;
  
}
#body-img2 {
  grid-column: 3/4;
  border-style:ridge;
  text-align: center;
}
#recomment-msg p {
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
  padding: 20px;
  
}
section h3 {
  padding-left: 5%;
  color:#390099;
}
section p {
  font-size: 18px;
  margin-left: 80px;
  margin-right: 80px;

}

#ingredient{
  position: relative;
  display: inline-block;
  margin-left: 80px;
}
#dropdown-ingredient {
  display: none;
  position: absolute;
  background-color: wheat;
  width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 18px;
}
#ingredient:hover #dropdown-ingredient {
  display: block;
}
#instruction {
  position: relative;
  display: inline-block;
  margin-left: 80px;
}
#dropdown-instruction {
  display: none;
  position: absolute;
  background-color: wheat;
  width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 18px;
}
#instruction:hover #dropdown-instruction {
  display: block;
}
#equipment {
  position:relative;
  display: inline-block;
  margin-left: 80px;
}
#dropdown-equipment {
  display: none;
  position: absolute;
  background-color: wheat;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 18px;

}
#equipment:hover #dropdown-equipment {
  display: block;
}

/*#instruction p{
  border-radius: 15px;
  background-color: wheat;
  font-size: 15px;

}*/
section h5 {
  text-align: center;
}
footer {
  color:#FFB703;
  background-color:#14213D;
  padding: 25px 50px;
  padding-top: 15px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.footer-box2 {
  color: white;
  font-size: 22px;
  font-family: sans-serif;
}
footer a {
  color:yellow;
  text-decoration: none; 
}
footer a:hover {
  color:lightskyblue;
}
footer p {
  font-size: 1.3em;
}
footer p a:hover {
  text-decoration: underline;
}